[Unit]
Description=varnish-towncrier daemon
After=varnishd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/varnish-towncrier listen
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
